parameters:
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - '/Cannot cast object to string\./'
    - '/Method duncan3dc\\ObjectIntruder\\Intruder::__toString\(\) should return string but returns mixed\./'
